<configuration>
   <system.webServer>
      <directoryBrowse enabled="true" showFlags="Date,Time,Extension,Size" />
      <staticContent>
         <mimeMap fileExtension=".jnlp" mimeType="application/x-java-jnlp-file" />
      </staticContent>
      <defaultDocument enabled="true">
         <files>
            <add value="launch.jnlp" />
         </files>
      </defaultDocument>
   </system.webServer>
</configuration>
